<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALrHfyEqcNFpJUyTd4x6g6ILLDMB9JR70</string>
	<key>GCM_SENDER_ID</key>
	<string>686171849011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawFinder</string>
	<key>PROJECT_ID</key>
	<string>paw-finder-f1fd4</string>
	<key>STORAGE_BUCKET</key>
	<string>paw-finder-f1fd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686171849011:ios:24378ad6850384d60a3e46</string>
</dict>
</plist>